<input type="text" class="item-input" placeholder="Προσθήκη στη λίστα" [(ngModel)] = "itemName" (keyup.enter)="addItem()">

<div class="item" *ngFor="let item of filterList()" @fade>
  <div class="item-left">
    <input type="checkbox" [(ngModel)]="item.bought">
    <div *ngIf="!item.editing; else editingItem" (dblclick)="editItem(item)" [ngClass]="{'completed' : item.bought}" class="item-label">{{item.name}}</div>
    <ng-template #editingItem>
      <input type="text" class="item-edit" [(ngModel)]="item.name" (blur)="editItem(item)" (keyup.enter)="editItem(item)" autofocus>
    </ng-template>
  </div>
  <div class="remove-item" (click)="deleteItem(item.id)">
    &times;
  </div>
</div>

<div class="extra-container">
  <div>
    <label>
      <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllState"> Check All
    </label>
  </div>
  <div>{{remainingItems()}} items left</div>
</div>

<div class="extra-container">
  <div>
    <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</button>
    <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</button>
    <button [ngClass]="{'active': filter === 'bought'}" (click)="filter='bought'">Bought</button>
  </div>

  <div *ngIf="atLeastOneBought()">
    <button (click)="clearBought()">Clear Completed</button>
  </div>

</div>